<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8"/>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  {{!-- custom styles --}}
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  {{!-- favicon --}}
  <link rel="icon" href="/images/favicon.png" type="image/x-icon">
  <title>Stoca</title>
</head>

<body>
  
  <nav class="navbar navbar-dark bg-light">
    <a class="navbar-brand" href="/index">
      <img src="http://localhost:3000/images/StocaLogoText.png" style="max-height: 75px;" class="d-inline-block align-top" alt="">
    </a>
    <ul class="nav navbar-right navbar-pills">
      <li><h3><a class="nav-link" href="/">Login</a></h3></li>
      <li><h3><a class="nav-link" href="/login">New Goal</a></h3></li>
    </ul>
  </nav>
  
  {{{body}}}
  
</body>

</html>

