<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Accomplish your goals!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="user-text">User Name</label>
            <input type="text" id="user-text" class="form-control" aria-describedby="user-text" placeholder="User Name">
          </div>
          <div class="form-group">
            <label for="password-text">Password</label>
            <input type="password" id="password-text" class="form-control" aria-describedby="password-text" placeholder="Password">
          </div>          
          <button id="submit" class="btn btn-danger">Submit</button>
        </form>        
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
