<div id="login">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="clearfix mb-4">
          <p>Please enter a title for your goal</p>
          <input id="title" type="text" maxlength="25"/>
          
          <p>Please enter the category you feel best encompasses your goal</p>
          <input id="category" type="text" maxlength="25"/>
          
          <br/>
          <label for="goal-description" id="gDescription" >Goal Description</label>
          <textarea class="form-control" id="descript" aria-describedby="goal-description" placeholder="Enter goal to accomplish" name="description"></textarea>
          <br/>
          
          <p>When do you plan on starting and completing your goal?</p>
          <label for="startDate">Starting date</label>
          <br/>
          <input id="startDate" type="date" name="startDate"/>
          <br/>
          <label for="completionDate">Completion date</label>
          <br/>
          <input id="completionDate" type="date" name="completionDate"/>
          <br/>
          
          <button id="submit" class="btn btn-danger" onclick="submitGoal()">Submit goal</button>
          
        </div>        
      </div>
    </div>
  </div>
</div>

<script type="application/javascript">
  function submitGoal(){
    var data = {};
    
    data.title = document.getElementById("title").value;
    data.category = document.getElementById("category").value;
    data.descript = document.getElementById("descript").value;
    data.startDate = document.getElementById("startDate").value;
    data.completionDate = document.getElementById("completionDate").value;
    
    $.ajax({
      headers: {
        "Content-Type": "application/json"
      },
      type: "POST",
      url: "api/create-goal",
      data: JSON.stringify(data)
    }).then(function(){
      location.href = "/goal-scroller/1";
    });
  }
</script>