<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8"/>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body>
  
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <img src="https://files.slack.com/files-pri/TCV8Z2AK0-FEUE47L9M/image.png" style="max-height: 150px;" class="d-inline-block align-top" alt="">
    </a>
    
  </nav>
  
  {{{body}}}
  
</body>

</html>
