.list-group-item {
  line-height: 2.5;
}

h1,h2{
  color: #000;
}

.nav-link{
  color: red;
}

.nav-link:hover{
  color: #9b2118;
}

#gCategory, #gDuration, #gDescription{
  font-size: 18px;
}

#goalTypeSelector, #goalDateSelector{
  color: red;
  font-size: 18px;
}

#goal-description:focus{
  outline: none !important;
  border:1px solid red;
  box-shadow: 0 0 10px #808080;
}

#goal-team:focus{
  outline: none !important;
  border:1px solid red;
  box-shadow: 0 0 10px #808080;
}

#user-text:focus{
  outline: none !important;
  border:1px solid red;
  box-shadow: 0 0 10px #808080;
}

#password-text:focus{
  outline: none !important;
  border:1px solid red;
  box-shadow: 0 0 10px #808080;
}
